@charset "UTF-8";
body {
  background-color: black;
  position: relative;
  min-height: 100vh;
}

header .contenedor_nav {
  background-color: black;
}
header .contenedor_nav .nav_personalizado {
  background-color: black;
}
header .contenedor_nav .nav_personalizado .contenedor_anclas_botones {
  background-color: black;
}
header .contenedor_nav .nav_personalizado .contenedor_anclas_botones .color_fuente {
  color: whitesmoke;
}
header .nav-link:hover {
  font-size: 1.02rem;
  color: rgb(234, 239, 149) !important;
}

.seccion_carrusel_index {
  padding-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.seccion_carrusel_index .carousel-item {
  height: 50%;
  width: 100%;
}
.seccion_carrusel_index .carousel-item .img_carrusel {
  border-radius: 15px;
}

.seccion_carrusel_index_dos {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.seccion_carrusel_index_dos .carousel-item {
  height: 50%;
  width: 100%;
}
.seccion_carrusel_index_dos .carousel-item .img_carrusel {
  border-radius: 15px;
}

.seccion_dos {
  display: flex;
  gap: 10px;
}
.seccion_dos .contenedor_tarjetas {
  display: flex;
  height: 100%;
  width: 100%;
}
.seccion_dos .contenedor_tarjetas .contenedor_tarjeta_index {
  height: 22rem;
  background: linear-gradient(135deg, #050505 21px, #3f4041 22px, #3f4041 24px, transparent 24px, transparent 67px, #3f4041 67px, #3f4041 69px, transparent 69px), linear-gradient(225deg, #050505 21px, #3f4041 22px, #3f4041 24px, transparent 24px, transparent 67px, #3f4041 67px, #3f4041 69px, transparent 69px) 0 64px;
  background-color: #050505;
  background-size: 64px 128px;
}
.seccion_dos .contenedor_tarjetas .contenedor_tarjeta_index .texto_cartas_index {
  color: whitesmoke;
  font-size: 1.4rem;
  text-align: center;
}

footer .fuente_breadcrumb {
  color: whitesmoke !important;
  list-style-type: none;
  text-decoration: none;
}
footer .fuente_breadcrumb_activo {
  color: rgb(161, 210, 45) !important;
  list-style-type: none;
  text-decoration: none;
}
footer .contenedor_footer {
  background-color: rgb(65, 65, 65);
  color: whitesmoke;
}
footer .contenedor_footer .boton_footer {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}
footer .contenedor_footer .boton_footer:hover {
  background-color: rgb(234, 239, 149);
  color: black;
  border: 1px solid rgb(161, 210, 45);
}
footer .contenedor_footer .boton_footer:hover .color_font_footer {
  color: whitesmoke;
}

.estilo_icono {
  margin-left: 10px;
  margin-bottom: 10px;
  color: rgb(234, 239, 149);
}

.tarjetas_colores {
  padding: 20px;
  background-color: black;
}
.tarjetas_colores .contenedor_tarjetas_colores {
  background-color: black;
  color: whitesmoke;
}

.boton_contacto_enviar {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}
.boton_contacto_enviar:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid rgb(234, 239, 149);
}

.contenedor_img_espacios {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.contenedor_img_espacios .h5_banio {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: whitesmoke;
  text-align: start;
  justify-content: center;
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
}

.p_uno_banio {
  font-size: 1rem;
  color: whitesmoke;
  text-align: start;
  justify-content: center;
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
}

.p_dos_banio {
  font-size: 1rem;
  color: whitesmoke;
  text-align: start;
  justify-content: center;
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
}

.contenedor_imagen_mapa {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}
.contenedor_imagen_mapa .boton_contacto_ubicacion_mapa {
  background-color: whitesmoke;
  color: black;
  border: 1px solid rgb(234, 239, 149);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor_imagen_mapa .boton_contacto_ubicacion_mapa:hover {
  background-color: rgb(234, 239, 149);
  color: black;
  border: 1px solid rgb(161, 210, 45);
}

.contenedor_imagen_marcas {
  background-color: black;
  color: whitesmoke;
}

@media (max-width: 1000px) {
  .alineador_textos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor_img_espacios .h5_banio {
    font-size: 3rem;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 4px 2px 1px black;
  }
  .contenedor_tarjetas {
    margin: 5px;
  }
  .texto_cartas_index {
    display: none;
  }
  .imagenes_pequeñas_index {
    width: 100%;
    height: 100%;
  }
  .contenedor_tarjeta_index {
    display: none;
  }
}
@media (max-width: 600px) {
  .contenedor_img_espacios {
    border: 1.5px solid rgb(65, 65, 65);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contenedor_img_espacios .card-body h5 {
    font-size: 1rem;
    text-align: center;
  }
  .contenedor_img_espacios .card-body p {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
