
    
    .seccion_carrusel_index {
        padding-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        .carousel-item {
            height: 50%;
            width: 100%;
            .img_carrusel {
                border-radius: $bordes_radio_15;

            }
        }
    }
    .seccion_carrusel_index_dos{
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        .carousel-item {
            height: 50%;
            width: 100%;
            .img_carrusel {
                border-radius: $bordes_radio_15;
                
            }
        }

    }
    
     .seccion_dos {
         display: flex;
         gap:10px;
         .contenedor_tarjetas{
             display: flex;
             height: 100%;
             width: 100%;
             
             
                         
    
             .contenedor_tarjeta_index{
               
                 height: 22rem;
                 background:
                 linear-gradient(135deg, #050505 21px, #3f4041 22px, #3f4041 24px, transparent 24px, transparent 67px, #3f4041 67px, #3f4041 69px, transparent 69px),
                 linear-gradient(225deg, #050505 21px, #3f4041 22px, #3f4041 24px, transparent 24px, transparent 67px, #3f4041 67px, #3f4041 69px, transparent 69px)0 64px;
                 background-color:#050505;
                 background-size: 64px 128px;
                 .texto_cartas_index{
                    color: map-get($paleta_colores, "blanco");
                    font-size: ($tam_fuente_espacios)-1.6;
                    text-align: center;
                    
                        }
         }
     }
 }




    

    
  
    
  
    
   
